* text=auto
*.java text eol=lf
*.gradle text eol=lf
*.json text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.png binary
*.jpg binary
*.jar binary
*.mp4 binary
*.mp3 binary
*.wav binary
